html, body {width:100%; height:100%; padding: 0; margin: 0;}
.dropdown-menu {
	height: auto;
	overflow-x: hidden;
	max-height: 400px;
}
#map-container {
	background: black;
	width:200%;
	height:100%;
}
.map {
	height:100%;
	width:50%;
}
.dropdown-menu {
	height: auto;
	overflow-x: hidden;
	max-height: 400px;
}
.image-title {
	font-size:1.4em;
	color:white;
	vertical-align: bottom;
}
